body {
  background-image: linear-gradient( to right, rgb(228, 180, 92), rgb(225, 99, 225));
}

.header {
  font-size: 75px;
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


.box {
  display: flex;
  justify-content: center;
  width: auto;
  height: 200px;
}

.list {
  font-style: italic;
}

span {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.aboutme {
  text-align: center;
}

.myParagraph {
  display: inline-block;
  text-align: left;
}

.interests {
  text-align: center;
}

.myOl {
  display: inline-block;
  text-align: left;
}