body {
  background-image: linear-gradient( to right, rgb(228, 180, 92), rgb(225, 99, 225));
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


.box {
  display: flex;
  justify-content: center;
  width: auto;
  height: 200px;
}

img {
  display: flex;
  justify-content: center;
  width: auto;
  height: 100%;
}

.list {
  font-style: italic;
}