body {
  background-image: linear-gradient( to right, rgb(228, 180, 92), rgb(225, 99, 225));
}

.header {
  font-size: 55px;
}
h1 {
  text-align: center;
}

h3 {
  text-align: center;
}


.box {
  display: flex;
  justify-content: center;
  width: auto;
  height: 200px;
}

.list {
  font-style: italic;
  text-align: center;
}

span {
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.aboutme {
  text-align: center;
}

.myParagraph {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 35em;
}

.interests {
  text-align: center;
}

.hobbies {
  text-align: center;
}

ol {
  display: inline-block;
  text-align: left;
}

ul {
  display: inline-block;
  text-align: left;
}